*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}
body{
    font-family:sans-serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:1.6% 4%;
}
nav{
    display:flex;
    gap:6px;
    margin-left:80px;

}
nav a{
    color:#0f1015;
    text-decoration:none;
    padding:6px 12px;
    border-radius:6px;
}
nav a:hover{
    background-color:#d15fc80f;
    color:#4a2e7e;
 
}
.signup-link, .login-link{
    text-decoration:none;
    border:0.5px solid #d5cccc;
    padding:8px 14px;
    border-radius:7px;

}
.signup-link{
    color:rgb(33, 33, 33);

}
.login-link{
    background-color:#8b3dff;
    color:white;
}
.login-link:hover{
    background-color:#6b2dc9;
}
.header-last{
    display:flex;
    gap:10px;
}

main {
    padding :0 2%;
    background: linear-gradient(180deg, #584df5 5%, #bfabfc 20%, #ffffff 50%);
}
.hero-section{
    height:100vh;
}

.bento-grid{
    display:flex;
    justify-content:space-around;
    margin:28px 36px;
    gap:20px;
    height:70vh;
}
.column-1{
    width:70%;
    position:relative;
}
.column-1 video,
.column-1 img,
.colomn-2 img {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:20px;
}
.colomn-1-option{
    position:absolute;
    top:20px;
    left:40px;
}
.colomn-1-option h3,
.colomn-2-option h3{
    font-size:24px;
    color:rgb(238, 225, 225);
    margin-bottom: 40px;
}
.colomn-1-option button{
    background-color:#ffffffe5;
    border:none;
    padding:12px 16px;
    border-radius:8px;
    font-weight:bold;
}

.colomn-2{
    width:30%;
    position:relative;
}
.colomn-2-option{
    position:absolute;
    top:20px;
    left:40px;
}
.colomn-2-option  .bento1-h3{
    color:#0f1015;
}
.colomn-2-option button{
    font-size:14px;
    background-color:#ffffffe5;
    border:none;
    padding:12px 16px;
    border-radius:8px;
    font-weight:bold;
}