*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}
body{
    font-family:sans-serif;
}
body a{
    text-decoration:none;
}

header{
    display :flex;
    justify-content:space-around;
    padding:40px 6px;
    height:66px;
    width:100vw;
    align-items: center;
    border-bottom :2px solid #f3f3f3;
    position:fixed;
    background-color:white;
    z-index:10;
    
}
nav{
    display:flex;
    gap:6px;
    margin-left:80px;

}
nav a{
    color:#0f1015;
    text-decoration:none;
    padding:6px 12px;
    border-radius:6px;
}
nav a:hover{
    background-color:#d15fc80f;
    color:#4a2e7e;
 
}
.signup-link, .login-link{
    text-decoration:none;
    border:0.5px solid #d5cccc;
    padding:8px 14px;
    border-radius:7px;

}
.signup-link{
    color:rgb(33, 33, 33);

}
.login-link{
    background-color:#8b3dff;
    color:white;
}
.login-link:hover{
    background-color:#6b2dc9;
}
.header-last{
    display:flex;
    gap:10px;
}


main {
    padding :0 2%;
    background: linear-gradient(180deg, #584df5 5%, #bfabfc 20%, #ffffff 50%);
}
.hero-section{
    height:100vh;
}

.bento-grid{
    display:flex;
    justify-content:space-around;
    margin:28px 36px;
    gap:20px;
    height:70vh;
}
.column-1{
    width:70%;
    position:relative;
}
.column-1 video,
.column-1 img,
.colomn-2 img {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:20px;
}
.colomn-1-option{
    position:absolute;
    top:20px;
    left:40px;
}
.colomn-1-option h3,
.colomn-2-option h3{
    font-size:24px;
    color:rgb(238, 225, 225);
    margin-bottom: 40px;
}
.colomn-1-option button{
    background-color:#ffffffe5;
    border:none;
    padding:12px 16px;
    border-radius:8px;
    font-weight:bold;
}

.colomn-2{
    width:30%;
    position:relative;
}
.colomn-2-option{
    position:absolute;
    top:20px;
    left:40px;
}
.colomn-2-option  .bento1-h3{
    color:#0f1015;
}
.colomn-2-option button{
    font-size:14px;
    background-color:#ffffffe5;
    border:none;
    padding:12px 16px;
    border-radius:8px;
    font-weight:bold;
}

/* Image Genrator Section*/

.imagenerator{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:200px 40px;
    gap:100px;
}


.leftOfIg{
    width:50%;
    margin-top:100px;
}
.leftOfIg h1{
    font-size:58px;
    margin-bottom:36px;
    color:#0f1015;
    font-weight:500;
    font-family: Helvetica, Arial, sans-serif;
}

.leftOfIg p{
    margin-bottom:36px;
    font-weight:200;
    line-height:30px;
      color:#0f1015d9;
}
.input{
    position:relative;
}
.input input{
    width:600px;
    height:36px;
    margin-right:20px;
    border-radius:6px;
}
.input p{
    position:absolute;
    top:5px;
    left:50px;
      color:#0f1015d9;

}

.input a{
    background-color:#8b3dff;
    color:white;
    text-decoration:none;
    padding:12px 18px;
    border-radius:6px;

}
.input a:hover{
    background-color:#4a2e7e;
}

.rightOfIg{
    position:relative;
    width:50%;
}

.rightOfIg img{
   width:70%;
   margin-left:50px;
   border-radius:20px;
}

.slid-img{
    position:absolute;
    top:470px;
    background-color:white;
    height:100px;
    width:400px;
    border:1px solid black;
    margin-left:100px;
    border-radius:6px;
}

/* Business Feature Section*/

.Bfeature{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
    margin:28px 36px;
}
.Bfeature h1{
    font-size:58px;
    color:#0f1015;
    font-weight:500;
    font-family: Helvetica, Arial, sans-serif;
}
.Bfeature p{
    font-weight:200;
    line-height:30px;
    font-family:sans-serif;
    color:#0f1015d9;
}

/* Overflow Image Section*/
.overflow-img{ 
    margin:28px 36px;
    margin-top:100px;
    display:flex;
    gap:24px;
    overflow:auto;
}
.overflow-img .images img{
    height:600px;
    width:500px;
    flex-shrink:0;

}
.overflow-img::-webkit-scrollbar{
    display:none;
}
.images{
    
    position : relative;
}
.images h2{
    position:absolute;
    top:40px;
    left:30px;
}
